.button {
  transition: all 0.2s ease;

  @apply font-bold rounded py-1 px-4 appearance-none;
}

.button:focus {
  @apply outline-none;
}

.button-primary {
  @apply text-ebony-clay-2 bg-sun;
}

.button-primary:hover {
  @apply bg-sunglow;
}

.button-primary:focus {
  @apply border-sun;
}

.button-secondary {
  @apply text-athens-gray bg-oxford-blue;
}

.button-secondary:hover {
  @apply bg-nepal text-ebony-clay-2;
}

.button-small {
  @apply text-sm py-1 px-2;
}