.form-label {
  @apply block text-blue-lightest text-base font-bold cursor-pointer;
}

.form-fieldset {
  @apply mb-3 pb-4 border-b border-blue;
}

.form-legend {
  @apply text-blue text-lg font-bold mb-2;
}

.form-input {
  @apply w-full bg-blue-dark border border-blue-dark2 text-white p-2 rounded appearance-none;
}

.form-input:focus {
  @apply border-blue-light outline-none;
}
